<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<!-- DB영역 -->
<mapper namespace="com.example.lesson03.mapper.ReviewMapper">

	<!-- MyBatis 예제 1-1(SELECT) -->
	<select id="selectReviewById" parameterType="int" resultType="com.example.lesson03.domain.Review">
		SELECT 
			`id`,
			`storeId`,
			`menu`,
			`userName`,
			`point`,
			`review`,
			`createdAt`,
			`updatedAt`
		FROM 
			`new_review`
		WHERE 
			`id` = #{id}
	</select>
	
	<!-- MyBatis 1-2 예제1 : 객체화(INSERT) -->
	<insert id="insertReview" parameterType="com.example.lesson03.domain.Review">
		INSERT INTO `new_review`
		(
			`storeId`,
			`menu`,
			`userName`,
			`point`,
			`review`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
		#{storeId}, 
		#{menu}, 
		#{userName}, 
		#{point}, 
		#{review}, 
		NOW(),
		NOW()
		)
	</insert>
	
	<!-- MyBatis 1-2 예제2 : (INSERT) -->
	<insert id="insertReviewAsField" parameterType="map">
		INSERT INTO `new_review`
		(
			`storeId`,
			`menu`,
			`userName`,
			`point`,
			`review`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
		#{storeId}, 
		#{menu}, 
		#{userName}, 
		#{point}, 
		#{review}, 
		NOW(),
		NOW()
		)
	</insert>
	
</mapper>