<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<!-- DB영역 -->
	<mapper namespace="com.example.lesson04.mapper.UserMapper">
		
		<!-- MVC Cycle 1-1 : form 태그와 회원가입 -->
		<insert id="insertUser" parameterType="map">
			INSERT INTO `new_user`
			(
			`name`,
			`yyyymmdd`,
			`email`,
			`introduce`,
			`createdAt`,
			`updatedAt`
			)
			VALUES
			(
			#{name},
			#{yyyymmdd},
			#{email},
			#{introduce},
			NOW(),
			NOW()
			)
		</insert>
		
		
		<!-- MVC Cycle 1-2 : 방금 가입한 학생의 id pk 가져오기 -->
		<select id="selectLatestUser" resultType="com.example.lesson04.domain.User">
			SELECT 
				`id`,
				`name`,
				`yyyymmdd`,
				`email`,
				`introduce`,
				`createdAt`,
				`updatedAt`	
			FROM
				`new_user`
			ORDER BY
				`id` DESC
			LIMIT 1
		</select>
		
		
		<!-- 6-2 : AJAX로 아이디 중복확인 -->
		<select id="isDuplicatedName" parameterType="String" resultType="boolean">
			SELECT
				COUNT(*)
			FROM
				`new_user`
			WHERE
				`name` = #{name}
		</select>
		
	</mapper>
	
	